<html xmlns:th="http://www.thymeleaf.org">
<body style="font-family: 'Poppins', Arial, sans-serif">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <table class="content" width="600" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse; border: 1px solid #cccccc;">
                <tr>
                    <p>
                        <img src="cid:mocketLogo" width="600"/>
                    </p>
                </tr>

                <tr>
                    <td class="body" style="padding: 0 0 0 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                        <h1>Reset your password</h1>
                        <p>We received your request to reset your password, click the following link to start:</p>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 40px 40px 0px 40px; text-align: center;">
                        <table cellspacing="0" cellpadding="0" style="margin: auto;">
                            <tr>
                                <td align="center" style="background-color: #238aff; padding: 10px 20px; border-radius: 5px;">
                                    <a href="#" th:href="${url}" target="_blank" style="color: #ffffff; text-decoration: none; font-weight: bold;">Reset your password</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="body" style="padding: 40px; text-align: left; font-size: 16px; line-height: 1.6;">
                        If you didn't request a password reset, you can ignore this email.
                    </td>
                </tr>
                <tr>
                    <td class="footer" style="background-color: #000000; padding: 40px; text-align: center; color: white; font-size: 14px;">
                        Copyright &copy; 2024 | Mocket
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>