.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.nav-bar-brand {
    background-image: url(../assets/mocket-b.PNG);
    width: 240px;
    height: 60px;
    margin: 0px 5vw;
    text-decoration: none;
    float: left;
}

.nav-bar-brand:hover {
    cursor: pointer;
}

.nav-bar-repo {
    margin: 10px 20px 0px -15vw;
    width: 45px;
    height: 45px;
    text-decoration: none;
    float: right;
    color: #dddddd;
}

.nav-bar-repo:hover {
    cursor: pointer;
}

.nav-bar-search {
    width: 100%;
    padding-top: 10px;
    align-self: normal;
}

@media (max-width: 1320px) {
    .nav-bar-brand {
        margin: 0px 3vw;
        width: max(120px, 12vw);
        height: max(30px, 3vw);
    }
    
    .nav-bar-repo {
        margin: 10px 10px 0px 0px;
        font-size: calc(6px + 2vmin);
        height: max(20px, 3vw);
        width: max(20px, 3vw);
    }
    
    .nav-bar-search {
        padding-top: calc(22px - 0.8vmin);
    }
}

@media (max-width: 767px) {
    .nav-bar-brand {
        margin: 0px calc(10px + 1vw);
    }
    
    .nav-bar-repo {
        margin: 0px 5px 0px 0px;
    }
}