.sell {
    display: grid;
    margin: 0;
    padding: 10px;
    font-size: 20px;
}

.sell-divider {
    background-color: #444444;
    height: 2px;
    width: 100%;
    margin: 10px 0;
}

.sell-header {
    margin: 10px 0 0 0;
    display: inline-block;
}

.sell-header-left {
    float: left;
}

.sell-header-right {
    float: right;
}

.sell-input-box {
    position: relative;
    display: inline-block;
    z-index: 5;
}

.sell-input-label {
    float: left;
}

.sell-input {
    float: right;
    text-align: right;
    width: 120px;
}

.sell-shares {
    display: inline-block;
}

.sell-shares-label {
    float: left;
}

.sell-shares-live {
    float: right;
}

.sell-total {
    display: inline-block;
}

.sell-total-label {
    float: left;
}

.sell-total-live {
    float: right;
}

.sell-button {
    position: relative;
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    border-color: #888888;
    border-style: solid;
    border-width: 2px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    justify-self: center;
    width: 30%;
    height: 40px;
    text-align: center;
    margin: 10px 0;
    z-index: 5;
}

.sell-button:hover {
    background-color: rgb(35, 138, 255);
    border-color: rgb(35, 138, 255);
    color: black;
}

@media (max-width: 1320px) {
    .sell {
        font-size: 2vmin;
    }

    .sell-divider {
        height: 1px;
    }

    .sell-button {
        font-size: 1.5vmin;
        height: max(25px, 3vmin);
    }
}

@media (max-width: 767px) {
    .sell {
        font-size: calc(8px + 1vmin);
    }

    .sell-button {
        font-size: calc(6px + 1vmin);
        margin: 5px 0;
    }

    .sell-input {
        width: 75px;
    }
}